{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Register</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Register if not registered</p>
                </div>
            </div>
        </header> 

        <div class="container">
            <div class="row justify-content-center">
                
            <div class="col-12 col-md-6 col-lg-5">
                <h2 class="text-center mb-4">Create an account</h2>
                    
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                {{ form.as_p }}
                {% if form.errors %}
                    <div class="alert alert-danger role="alert">
                        {{ form.errors }}
                    </div>
                {% endif %}

                <div class="text-center mt-4">
                <button type="submit" class="btn btn-secondary">
                    Register
                </button>
              </div>
            </form>
            <hr class="my-4">
                <div class="text-center">
                <p class="mb-2">
                    No need for an account
                </p>
                <a href="{% url 'home' %}" class "btn btn-outline-dark">Continue as Guest </a>
            <br><br>
        </div>
        </div>
        </div>
    </div>
{% endblock %}
