{% extends "base.html" %}

{% block content %}
<div class="container py-5 text-center">
    <h2 class="text-success mb-4">Payment Successful 🎉</h2>

    <p>Thank you for your order. Your payment has been processed successfully.</p>

    {% if order.user %}
    <p>You can view your order in your account.</p>
    {% else %}
    <p>Order confirmation sent to {{ order.email }}</p>
    {% endif %}

    <a href="{% url 'home' %}" class="btn btn-primary mt-4">
        Continue Shopping
    </a>

    <a href="{% url 'order_detail' order.id %}"
        class="btn btn-outline-primary mt-3">
        View Order & Leave Reviews
    </a>

</div>
</br></br></br></br>
</br></br></br></br>
{% endblock %}
